## Exchange Categories

In [80]:
import pandas as pd
import re
import xlsxwriter

In [123]:
#file_path zu den Kategorien
file_path = '/Users/carlottabonn/Documents/GitHub/GGTTIR/data/data base/Categories_over_time.xlsx'

#file_path zu den gesamt think tank daten
file_path_total_data = '/Users/carlottabonn/Documents/GitHub/GGTTIR/data/data base/GGTTIR.xlsx'

In [124]:
df_regions_categories = pd.read_excel(file_path,sheet_name='regions')
df_special_categories = pd.read_excel(file_path,sheet_name='special_categories')
df_research_categories = pd.read_excel(file_path,sheet_name='research_areas')

In [125]:
#Hier die think-tank Datei einlesen:
df_regions_all_tt = pd.read_excel(file_path_total_data,sheet_name='regions')
df_research_all_tt = pd.read_excel(file_path_total_data,sheet_name='research_areas')

## Replace old categories by the new ones

- Ersetzen ist in diesem Fall keine gute Idee. Wir brauchen die Alten Kategorien noch um sie später mit dem anderen Dataset verbinden zu könne.

## Create Column for new clean categories:

In [126]:
#function:
#die funktion sucht in einem Dictionary nach den keys und gibt den jeweiligen wert zurück

def cleaned_categories(old_category,dict_new_categories):
    for key,value in dict_new_categories.items():
        if old_category == key:
            return value

## Regions

In [127]:
#anstatt zu ersetzen, erstelle ein dictionary
dict_new_categories = {
'Top 10 Think Tanks â€“ United States':'Top Think Tanks in the United States',
'Top 100 Think Tanks â€“ Worldwide (Non-US)':'Top Think Tanks worldwide (non-US)',
'Top 150 Think Tanks â€“ Worldwide (US and Non-US)':'Top Think Tanks Worldwide (US and non-US)',
'Top 30 Think Tanks United States':'Top Think Tanks in the United States',
'Top 25 Central and Eastern European Think Tanks':'Top Think Tanks in Central and Eastern Europe',
'Top 25 Think Tanks in Middle East and North Africa':'Top Think Tanks in Middle East and North Africa(MENA)',
'Top 25 Think Tanks in Western Europe':'Top Think Tanks in Western Europe',
'Top 25 Think Tanks â€“ Worldwide (US and Non-US)':'Top Think Tanks Worldwide (US and non-US)',
'Top 30 Central and Eastern European Think Tanks':'Top Think Tanks in Central and Eastern Europe',
'Top 30 Think Tanks in Mexico and Canada':'Top Think Tanks in Mexico and Canada',
'Top 40 Think Tanks in Asia':'Top Think Tanks in Asia',
'Top 25 Think Tanks in Asia':'Top Think Tanks in Asia',
'Top 40 Think Tanks in Western Europe':'Top Think Tanks in Western Europe',
'Top 45 Think Tanks in China, India, Japan, and the Republic of Korea':'Top Think Tanks in China, India, Japan, and the Republic of Korea',
'Top 45 Think Tanks in Middle East and North Africa (MENA)':'Top Think Tanks in Middle East and North Africa(MENA)',
'Top 50 Think Tanks â€“ United States':'Top Think Tanks in the United States',
'Top 50 Think Tanks â€“ Worldwide (Non-US)':'Top Think Tanks worldwide (non-US)',
'Top 50 Think Tanks--United States':'Top Think Tanks in the United States',
'Top 55 Think Tanks in the United States':'Top Think Tanks in the United States',
'Top 60 Think Tanks in Central and Eastern Europe':'Top Think Tanks in Central and Eastern Europe',
'Top 75 Think Tanks in Western Europe':'Top Think Tanks in Western Europe',
'Top Fifty Think Tanks in Western Europe':'Top Think Tanks in Western Europe',
'Top Fifty Think Tanks in the United States':'Top Think Tanks in the United States',
'Top Fifty Think Tanks â€“ Worldwide (Non-US)':'Top Think Tanks worldwide (non-US)',
'Top Think Tanks Worldwide (Non-US)':'Top Think Tanks worldwide (non-US)',
'Top Think Tanks Worldwide (US and non- US)':'Top Think Tanks Worldwide (US and non-US)',
'Top Think Tanks Worldwide (non-US)':'Top Think Tanks worldwide (non-US)',
'Top Think Tanks in China, India, Japan,and the Republic of Korea':'Top Think Tanks in China, India, Japan, and the Republic of Korea',
'Top Think Tanks in United States':'Top Think Tanks in the United States',
'Top Think Tanks in the Middle East and North Africa (MENA)':'Top Think Tanks in Middle East and North Africa(MENA)',
'Top Thirty Think Tanks in Asia':'Top Think Tanks in Asia',
'Top Thirty Think Tanks in Central and Eastern Europe':'Top Think Tanks in Central and Eastern Europe',
'Top Thirty Think Tanks in Sub-Saharan Africa':'Top Think Tanks in Sub-Saharan Africa',
'Top Thirty Think Tanks in the Middle East and North Africa (MENA)':'Top Think Tanks in Middle East and North Africa(MENA)',
'Top Thirty Think Tanks â€“ Worldwide (US and Non-US)':'Top Think Tanks Worldwide (US and non-US)'

}

In [128]:
#hier wird die Funktion dann angewandt
df_regions_categories['New_Category'] = df_regions_categories['Category'].apply(cleaned_categories,dict_new_categories=dict_new_categories)

In [129]:
#Wir erhalten die neue Column "new_Categories"
df_regions_categories.head()

,Spalte1,Category,Category2,Year,nr_of_years,from,till,Unnamed: 7,Test,New_Category
0,0,Top 10 Think Tanks â€“ United States,Top Think Tanks in the United States,[2009],10,2009,2009,NaN,Top 25 Think Tanks in Eastern Europe,Top Think Tanks in the United States
1,1,Top 100 Think Tanks â€“ Worldwide (Non-US),Top Think Tanks worldwide (non-US),[2012],100,2012,2012,NaN,Top 25 Think Tanks in Latin America and the Ca...,Top Think Tanks worldwide (non-US)
2,2,Top 150 Think Tanks â€“ Worldwide (US and Non-...,Top Think Tanks Worldwide (US and non-US),[2012],150,2012,2012,NaN,Top 25 Think Tanks in Southern Africa (includi...,None
3,3,Top 25 Central and Eastern European Think Tanks,Top Think Tanks in Central and Eastern Europe,[2010],25,2010,2010,NaN,"Top 40 Think Tanks in Asia (Excluding China, I...",Top Think Tanks in Central and Eastern Europe
4,4,Top 25 Think Tanks in Asia,Top Think Tanks in Asia,"[2008, 2010]",52,2008,2010,NaN,Top 40 Think Tanks in Latin America and the Ca...,Top Think Tanks in Asia

In [130]:
##Im Anschluss kannst du die neuen Kategorien über die "merge"-function an deine Gesamt-think-tank daten dranhängen:
##left_on & right_on geben für die jeweiligen df's an in welcher Spalte nach gleichen Werten gesucht werden soll

NEW_df = pd.merge(df_regions_all_tt,df_regions_categories[['Category','New_Category']],left_on='Category',right_on='Category')

In [131]:
NEW_df.head()

,Rank,Think Tank,Category,Year,Country,New_Category
0,1,brookings institution (united states),Top 30 Think Tanks United States,2008,United States,Top Think Tanks in the United States
1,2,council on foreign relations,Top 30 Think Tanks United States,2008,United States,Top Think Tanks in the United States
2,3,carnegie endowment for international peace,Top 30 Think Tanks United States,2008,United States,Top Think Tanks in the United States
3,4,rand corporation,Top 30 Think Tanks United States,2008,United States,Top Think Tanks in the United States
4,5,heritage foundation,Top 30 Think Tanks United States,2008,United States,Top Think Tanks in the United States

In [132]:
##Dann das gleiche für die anderen df-Kategorien machen

## Research Areas

In [133]:
dict_new_categories_research = {
'Top 10 Think Tanks â€“ United States':'Top Think Tanks in the United States',
'Top 100 Think Tanks â€“ Worldwide (Non-US)': 'Top Think Tanks worldwide (non-US)',
'Top 150 Think Tanks â€“ Worldwide (US and Non-US)': 'Top Think Tanks Worldwide (US and non-US)',
'Top 30 Think Tanks United States':'Top Think Tanks in the United States',
'Top 25 Central and Eastern European Think Tanks': 'Top Think Tanks in Central and Eastern Europe',
'Top 25 Think Tanks in Middle East and North Africa':'Top Think Tanks in Middle East and North Africa(MENA)',
'Top 25 Think Tanks in Western Europe':'Top Think Tanks in Western Europe',
'Top 25 Think Tanks â€“ Worldwide (US and Non-US)':'Top Think Tanks Worldwide (US and non-US)',
'Top 30 Central and Eastern European Think Tanks':'Top Think Tanks in Central and Eastern Europe',
'Top 30 Think Tanks in Mexico and Canada':'Top Think Tanks in Mexico and Canada',
'Top 40 Think Tanks in Asia':'Top Think Tanks in Asia',
'Top 25 Think Tanks in Asia':'Top Think Tanks in Asia',
'Top 40 Think Tanks in Western Europe':'Top Think Tanks in Western Europe',
'Top 45 Think Tanks in China, India, Japan, and the Republic of Korea':'Top Think Tanks in China, India, Japan, and the Republic of Korea',
'Top 45 Think Tanks in Middle East and North Africa (MENA)':'Top Think Tanks in Middle East and North Africa(MENA)',
'Top 50 Think Tanks â€“ United States':'Top Think Tanks in the United States',
'Top 50 Think Tanks â€“ Worldwide (Non-US)':'Top Think Tanks worldwide (non-US)',
'Top 50 Think Tanks--United States':'Top Think Tanks in the United States', 
'Top 55 Think Tanks in the United States':'Top Think Tanks in the United States',
'Top 60 Think Tanks in Central and Eastern Europe':'Top Think Tanks in Central and Eastern Europe',
'Top 75 Think Tanks in Western Europe':'Top Think Tanks in Western Europe',
'Top Fifty Think Tanks in Western Europe':'Top Think Tanks in Western Europe',
'Top Fifty Think Tanks in the United States':'Top Think Tanks in the United States',
'Top Fifty Think Tanks â€“ Worldwide (Non-US)':'Top Think Tanks worldwide (non-US)',
'Top Think Tanks Worldwide (Non-US)':'Top Think Tanks worldwide (non-US)',
'Top Think Tanks Worldwide (US and non- US)':'Top Think Tanks Worldwide (US and non-US)',
'Top Think Tanks Worldwide (non-US)':'Top Think Tanks worldwide (non-US)',
'Top Think Tanks in China, India, Japan,and the Republic of Korea':'Top Think Tanks in China, India, Japan, and the Republic of Korea',
'Top Think Tanks in United States':'Top Think Tanks in the United States',
'Top Think Tanks in the Middle East and North Africa (MENA)':'Top Think Tanks in Middle East and North Africa(MENA)',
'Top Thirty Think Tanks in Asia':'Top Think Tanks in Asia',
'Top Thirty Think Tanks in Central and Eastern Europe':'Top Think Tanks in Central and Eastern Europe',
'Top Thirty Think Tanks in Sub-Saharan Africa':'Top Think Tanks in Sub-Saharan Africa',
'Top Thirty Think Tanks in the Middle East and North Africa (MENA)':'Top Think Tanks in Middle East and North Africa(MENA)',
'Top Thirty Think Tanks â€“ Worldwide (US and Non-US)':'Top Think Tanks Worldwide (US and non-US)'
}

In [134]:
df_research_categories['New_Category'] = df_research_categories['Category'].apply(cleaned_categories,dict_new_categories=dict_new_categories_research)

In [135]:
df_research_categories.head()

,Spalte1,Category,Category2,Year,nr_of_years,from,till,Unnamed: 7,Unnamed: 8,Test,New_Category
0,0,List of Food Security Think Tanks (Alphabetica...,List of Food Security Think Tanks (Alphabetica...,[2018],133,2018,2018,NaN,NaN,List of Food Security Think Tanks (Alphabetica...,None
1,1,List of Water Security Think Tanks (Alphabetic...,List of Water Security Think Tanks (Alphabetic...,[2018],77,2018,2018,NaN,NaN,List of Water Security Think Tanks (Alphabetic...,None
2,2,Top Education Policy Think Tanks,Top Education Policy Think Tanks,[2013],50,2013,2013,NaN,NaN,Top Education Policy Think Tanks,None
3,3,Top 10 Domestic Economic Policy Think Tanks,Top Domestic Economic Policy Think Tanks,"[2008, 2009]",20,2008,2009,NaN,NaN,Top Domestic Economic Policy Think Tanks,None
4,4,Top 10 Environment Think Tanks,Top Environment Policy Think Tanks,[2008],11,2008,2008,NaN,NaN,Top Environment Policy Think Tanks,None

In [136]:
NEW_df_2 = pd.merge(df_research_all_tt,df_research_categories[['Category','New_Category']],left_on='Category',right_on='Category')

In [137]:
NEW_df_2

,Rank,Think Tank,Category,Year,country,New_Category
0,1,brookings institution usa,Top 10 International Development,2008,United States,None
1,2,overseas development institute (odi) uk,Top 10 International Development,2008,United Kingdom,None
2,3,council on foreign relations usa,Top 10 International Development,2008,United States,None
3,4,rand corporation us,Top 10 International Development,2008,United States,None
4,5,woodrow wilson international center for schola...,Top 10 International Development,2008,United States,None
5,6,institute of development studies uk,Top 10 International Development,2008,United Kingdom,None
6,7,center for global development usa,Top 10 International Development,2008,United States,None
7,8,international food policy research institute usa,Top 10 International Development,2008,United States,None
8,9,german development institute germany,Top 10 International Development,2008,Germany,None
9,10,international policy network uk,Top 10 International Development,2008,United Kingdom,None
10,10,atlas economic research foundation - usa,Top 10 International Development,2008,United States,None
11,10,international development research centre - ca...,Top 10 International Development,2008,Canada,None
12,1,brookings institution usa,Top 10 Health Policy Think Tanks,2008,United States,None
13,2,national bureau of economic research usa,Top 10 Health Policy Think Tanks,2008,United States,None
14,3,rand corporation usa,Top 10 Health Policy Think Tanks,2008,United States,None
15,4,urban institute usa,Top 10 Health Policy Think Tanks,2008,United States,None
16,5,american enterprise institute usa,Top 10 Health Policy Think Tanks,2008,United States,None
17,6,council on foreign relations global health pro...,Top 10 Health Policy Think Tanks,2008,United States,None
18,7,cato institute usa,Top 10 Health Policy Think Tanks,2008,United States,None
19,8,fraser institute canada,Top 10 Health Policy Think Tanks,2008,Canada,None
20,9,center for global development usa,Top 10 Health Policy Think Tanks,2008,United States,None
21,10,civitas uk,Top 10 Health Policy Think Tanks,2008,United Kingdom,None
22,10,national center for policy analysis usa,Top 10 Health Policy Think Tanks,2008,United States,None
23,1,harvard school of public health dept of health...,Top 10 Health Policy Think Tanks,2009,United States,None
24,2,"bloomberg school of public health, johns hopki...",Top 10 Health Policy Think Tanks,2009,United States,None
25,3,"brookings institution, us",Top 10 Health Policy Think Tanks,2009,United States,None
26,4,"rand corporation, us",Top 10 Health Policy Think Tanks,2009,United States,None
27,5,"cato institute, us",Top 10 Health Policy Think Tanks,2009,United States,None
28,6,"fraser institute, canada",Top 10 Health Policy Think Tanks,2009,Canada,None
29,7,"urban institute, us",Top 10 Health Policy Think Tanks,2009,United States,None
...,...,...,...,...,...,...
7349,0,"east africa living lakes network,uganda",List of Water Security Think Tanks (Alphabetic...,2018,Uganda,None
7350,0,"cabot institute, university of bristol, houses...",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7351,0,"cranfield water science institute,united kingdom",List of Water Security Think Tanks (Alphabetic...,2018,United Kingdom,None
7352,0,"environmental change institute, oxford,united ...",List of Water Security Think Tanks (Alphabetic...,2018,United Kingdom,None
7353,0,"institute of water (water aid),united kingdom",List of Water Security Think Tanks (Alphabetic...,2018,United Kingdom,None
7354,0,"overseas development institute (odi),united ki...",List of Water Security Think Tanks (Alphabetic...,2018,United Kingdom,None
7355,0,"water research centre,united kingdom",List of Water Security Think Tanks (Alphabetic...,2018,United Kingdom,None
7356,0,"center for global safe water, sanitation, and ...",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7357,0,"center for water-energy efficiency, uc davis,usa",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7358,0,"circle of blue,usa",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7359,0,"colorado state university water center, colora...",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7360,0,colorado water and energy research center (cwe...,List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7361,0,"institute for environmental policy solutions, ...",List of Water Security Think Tanks (Alphabetic...,2018,United Kingdom,None
7362,0,"john hopkins water institute,usa",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7363,0,"national water research institute,usa",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7364,0,program in water conflict management and trans...,List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7365,0,"pacific institute,usa",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7366,0,"stroud water research center,usa",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7367,0,"texas water resources institute,usa",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7368,0,"the global water institute,usa",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7369,0,"tufts institute of the environment,usa",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7370,0,"water institute, university of florida at gain...",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7371,0,"water resources research center, umass-amherst...",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7372,0,"us corps of engineers,usa",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7373,0,"water for food institute, university of nebras...",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7374,0,"water research center, dallas, pa,usa",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7375,0,"water resources research center, university of...",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7376,0,"water resources research institute,usa",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7377,0,"west virginia water research institute,usa",List of Water Security Think Tanks (Alphabetic...,2018,United States,None
7378,0,"world resources institute,usa",List of Water Security Think Tanks (Alphabetic...,2018,United States,None

## Special Categories