## Short notebook: combining dataframes on categories

In [66]:
#import libraries
import pandas as pd
import re
import xlsxwriter

In [67]:
#set file-paths
file_path_categories = '../data_base/Categories_over_time.xlsx'

file_path_thinktanks = '../data_base/CLEAN_THINKTANKS.xlsx'

In [68]:
#import category-datasets
regions_category_df = pd.read_excel(file_path_categories,sheet_name='regions')
research_category_df = pd.read_excel(file_path_categories,sheet_name='research_areas_clean')
special_category_df = pd.read_excel(file_path_categories,sheet_name='special_categories_clean')

In [69]:
#import think-tank datasets
regions_tt_df = pd.read_excel(file_path_thinktanks,sheet_name='regions')
research_tt_df = pd.read_excel(file_path_thinktanks,sheet_name='research_areas')
special_tt_df = pd.read_excel(file_path_thinktanks,sheet_name='special_categories')

In [70]:
#merge datasets
cleand_regions_tt = pd.merge(regions_tt_df,regions_category_df[['Category','Category2']],on='Category')

cleand_research_tt = pd.merge(research_tt_df,research_category_df[['Category','Category2']],on='Category')

cleand_special_tt = pd.merge(special_tt_df,special_category_df[['Category','Category2']],on='Category')

In [71]:
#rename cateories:
cleand_regions_tt.rename(columns={'Category2':'cleaned_category'},inplace=True)

cleand_research_tt.rename(columns={'Category2':'cleaned_category'},inplace=True)

cleand_special_tt.rename(columns={'Category2':'cleaned_category'},inplace=True)

In [72]:
#check for empty new categories

#cleand_regions_tt[cleand_regions_tt['cleaned_category'].isnull()]
#cleand_research_tt[cleand_research_tt['cleaned_category'].isnull()]
cleand_special_tt[cleand_special_tt['cleaned_category'].isnull()]

Empty DataFrame
Columns: [Rank, origin_tt_name, Category, Year, country, parenthesis, clean_tt, cleaned_category]
Index: []

In [73]:
cleand_regions_tt.head()

,Rank,origin_tt_name,Category,Year,Country,parenthesis,clean_tt,cleaned_category
0,1,brookings institution (united states),Top 30 Think Tanks United States,2008,United States,['(united states)'],brookings institution,Top Think Tanks in the United States
1,2,council on foreign relations,Top 30 Think Tanks United States,2008,United States,[],council on foreign relations,Top Think Tanks in the United States
2,3,carnegie endowment for international peace,Top 30 Think Tanks United States,2008,United States,[],carnegie endowment for international peace,Top Think Tanks in the United States
3,4,rand corporation,Top 30 Think Tanks United States,2008,United States,[],rand corporation,Top Think Tanks in the United States
4,5,heritage foundation,Top 30 Think Tanks United States,2008,United States,[],heritage foundation,Top Think Tanks in the United States

In [74]:
writer = pd.ExcelWriter('../results/tts_conslidated_categories.xlsx', engine='xlsxwriter')
cleand_regions_tt.to_excel(writer,sheet_name='regions',index=False)
cleand_special_tt.to_excel(writer,sheet_name='special',index=False)
cleand_research_tt.to_excel(writer,sheet_name='research_areas',index=False)
writer.save()