## Ranking Analysis

## To-dos: Carlotta
Bisher war df_regions das Test-Dataframe
- Analyse-Schritte für andere think-tanks ebenfalls durchführen
- Kategorien finden die über min. 5 Jahre ein stablies Ranking (ü. 75 think-tanks pro Jahr) enthalten

In [1]:
##import libraries
import pandas as pd
import numpy as np
import scipy as sp

In [2]:
#file_path
file_path = '../results/tts_conslidated_categories.xlsx'

In [3]:
#import datasets
df_regions = pd.read_excel(file_path,sheet_name='regions',index=False)
df_research = pd.read_excel(file_path,sheet_name='research_areas',index=False)
df_special = pd.read_excel(file_path,sheet_name='special',index=False)

In [4]:
df_regions.head()

,Rank,Think Tank,Category,Year,Country,cleaned_category
0,1,brookings institution (united states),Top 30 Think Tanks United States,2008,United States,Top Think Tanks in the United States
1,2,council on foreign relations,Top 30 Think Tanks United States,2008,United States,Top Think Tanks in the United States
2,3,carnegie endowment for international peace,Top 30 Think Tanks United States,2008,United States,Top Think Tanks in the United States
3,4,rand corporation,Top 30 Think Tanks United States,2008,United States,Top Think Tanks in the United States
4,5,heritage foundation,Top 30 Think Tanks United States,2008,United States,Top Think Tanks in the United States

In [25]:
#df_regions.groupby('Think Tank')['cleaned_category'].nunique().sort_values(ascending=False)
#df_regions.groupby(['Think Tank','Year'])['cleaned_category'].apply(list).reset_index(name='new')

In [26]:
#df_regions['Think Tank'].value_counts()

## Analyse:

In [43]:
#Übersicht wie viele think-tanks pro Jahr pro Kategorie
table_regions = pd.pivot_table(df_regions, values='Think Tank', index=['cleaned_category'], columns=['Year'], 
               aggfunc=lambda x: len(x.unique()))

In [49]:
table_regions.loc['Top Think Tanks Worldwide (US and non-US) ']

Year
2008      NaN
2009     25.0
2010     25.0
2011     30.0
2012    150.0
2013    150.0
2014    150.0
2015    172.0
2016    174.0
2017    172.0
2018    177.0
Name: Top Think Tanks Worldwide (US and non-US) , dtype: float64