## Data Analysis: Go to think tank index

In [1]:
import pandas as pd
import pycountry
import xlsxwriter

In [2]:
pd.options.display.max_colwidth = 100

In [3]:
file_path = 'Neuste_Version.xlsx'

## 1.1 Functions

In [144]:
##function to check for missing numbers in list of natural numbers:
def missing_numbers(num_list):
    original_list = [x for x in range(num_list[0], num_list[-1] + 1)]
    num_list = set(num_list)
    return (list(num_list ^ set(original_list)))

## 1.2 Load Datasets

In [145]:
#load test datasets
df_regions = pd.read_excel(file_path,sheet_name='regions')
df_special = pd.read_excel(file_path,sheet_name='special_categories')
df_research = pd.read_excel(file_path,sheet_name='research_areas')

## Regions

In [146]:
#convert float to int:
df_regions['Rank'] = df_regions['Rank'].astype(int)
df_regions_test = df_regions.tail(100)

In [147]:
##Create a dictionary for each Category with the Category title (key) and the missing values as a list
check_list_regions = df_regions.groupby('Category')['Rank'].apply(list).to_dict()

In [148]:
##Run missing_numbers function on the dictionary. Create new list with only those Categories that entail missing numbers
check_values = []
for key,value in check_list_regions.items():
    check = missing_numbers(value)
    if check:
        dicts = {key:check}
        check_values.append(dicts)

In [149]:
check_values

[{'Top Think Tanks Worldwide (Non-US)': [143,
   144,
   145,
   146,
   147,
   148,
   149,
   150,
   180]},
 {'Top Think Tanks in Central Asia': [66,
   67,
   68,
   69,
   70,
   71,
   72,
   73,
   74,
   75,
   76,
   77,
   78,
   79,
   80]},
 {'Top Think Tanks in Sub-Saharan Africa': [95]}]

In [150]:
check_list_regions = df_regions.groupby(['Category','Year'])['Rank'].apply(list).to_dict()

In [151]:
check_values

[{'Top Think Tanks Worldwide (Non-US)': [143,
   144,
   145,
   146,
   147,
   148,
   149,
   150,
   180]},
 {'Top Think Tanks in Central Asia': [66,
   67,
   68,
   69,
   70,
   71,
   72,
   73,
   74,
   75,
   76,
   77,
   78,
   79,
   80]},
 {'Top Think Tanks in Sub-Saharan Africa': [95]}]

In [152]:
#Delete commas and quotationsmarks:
#df_regions['Think Tank'] = df_regions['Think Tank'].map(lambda x: x.lstrip(',').rstrip('"'))
df_regions['Think Tank'] = df_regions['Think Tank'].str.strip(",")
df_regions['Think Tank'] = df_regions['Think Tank'].str.strip('"')

## Research Areas

In [153]:
df_research[df_research['Rank'].isnull()]

Empty DataFrame
Columns: [Rank, Think Tank, Category, Year, country]
Index: []

In [154]:
df_research['Rank'] = df_research['Rank'].astype(int)
df_research_test = df_research.tail(100)

In [155]:
##function to check for missing numbers in list of natural numbers:
def missing_numbers(num_list):
    original_list = [x for x in range(num_list[0], num_list[-1] + 1)]
    num_list = set(num_list)
    return (list(num_list ^ set(original_list)))

In [156]:
##Create a dictionary for each Category with the Category title (key) and the missing values as a list
check_list_research = df_research.groupby('Category')['Rank'].apply(list).to_dict()

In [157]:
##Run missing_numbers function on the dictionary. Create new list with only those Categories that entail missing numbers
check_values = []
for key,value in check_list_research.items():
    check = missing_numbers(value)
    if check:
        dicts = {key:check}
        check_values.append(dicts)

In [158]:
check_values

[{'Top Environment Think Tanks': [66, 67, 68, 69, 70]},
 {'Top International Economics Think Tanks': [84, 85]},
 {'Top Science and Technology Think Tanks': [69, 70]}]

In [159]:
check_list_research = df_research.groupby(['Category','Year'])['Rank'].apply(list).to_dict()

In [160]:
check_values

[{'Top Environment Think Tanks': [66, 67, 68, 69, 70]},
 {'Top International Economics Think Tanks': [84, 85]},
 {'Top Science and Technology Think Tanks': [69, 70]}]

In [161]:
#Delete commas and quotationsmarks:
df_research['Think Tank'] = df_research['Think Tank'].str.strip(",")
df_research['Think Tank'] = df_research['Think Tank'].str.strip('"')

## Special Categories

In [162]:
check_list_special = df_special.groupby(['Category','Year'])['Rank'].apply(list).to_dict()

In [163]:
##Run missing_numbers function on the dictionary. Create new list with only those Categories that entail missing numbers
check_values = []
for key,value in check_list_special.items():
    check = missing_numbers(value)
    if check:
        dicts = {key:check}
        check_values.append(dicts)

In [164]:
check_values

[{('Best Government Affiliated Think Tanks', 2012): [15]},
 {('Best Policy Study/Report Produced by a Think Tank (2013-2014)',
   2014): [31]},
 {('Best Quality Assurance and Integrity Policies and Procedures',
   2018): [39]},
 {('Best Use of Social Media and Networks', 2016): [50]},
 {('Best Use of Social Networks', 2013): [42]},
 {('Best Use of Social Networks', 2015): [48]},
 {('Think Tanks with the Most Significant Impact on Public Policy',
   2018): [9]}]

In [167]:
#Delete commas and quotationsmarks:
#df_regions['Think Tank'] = df_regions['Think Tank'].map(lambda x: x.lstrip(',').rstrip('"'))
df_special['Think tank'] = df_special['Think tank'].str.strip(",")
df_special['Think tank'] = df_special['Think tank'].str.strip('"')

## Export Results

In [169]:
writer = pd.ExcelWriter('nocommas.xlsx', engine='xlsxwriter')
df_regions.to_excel(writer,sheet_name='regions')
df_research.to_excel(writer,sheet_name='research_areas')
df_special.to_excel(writer,sheet_name='special_categories')

writer.save()