In [1]:
import pandas as pd
import re
import xlsxwriter

In [14]:
file_path = '/Users/carlottabonn/Documents/GitHub/GGTTIR/data/data_base/zwischenstaende/Neuste_Version2.xlsx'

In [15]:
df_regions = pd.read_excel(file_path,sheet_name='regions')
df_special = pd.read_excel(file_path,sheet_name='special_categories')
df_research = pd.read_excel(file_path,sheet_name='research_areas')

## Research

In [16]:
df_research['Category']=df_research['Category'].str.replace('Top 10 Domestic Economic Policy Think Tanks','Top Domestic Economic Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 10 Environment Think Tanks','Top Environment Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 10 Health Policy Think Tanks','Top Health Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 10 International Development','Top International Development Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 10 International Development Think Tanks','Top International Development Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 10 International Economic Policy Think Tanks','Top International Economics Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 10 Science and Technology Think Tanks','Top Science and Technology Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 10 Security and International Affairs Think Tanks','Top Security and International Affairs Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 10 Social Policy Think Tanks','Top Social Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 11 Environment Think Tanks','Top Environment Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 12 International Economic Policy Think Tanks','Top International Economics Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 15 Health Policy Think Tanks','Top Health Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 20 Energy and Resource Policy Think Tanks','Top Energy and Resource Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 20 Transparency and Good Governance Think Tanks','Top Transparency and Good Governance Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 25 Domestic Economic Policy Think Tanks','Top Domestic Economic Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 25 Environment Think Tanks','Top Environment Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 25 International Development Think Tank','Top International Development Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 25 International Economic Policy Think Tanks','Top International Economics Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 25 Science and Technology Think Tanks','Top Science and Technology Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 25 Security and International Affairs Think Tanks','Top Security and International Affairs Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 25 Social Policy Think Tanks','Top Social Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 30 Health Policy Think Tanks','Top Health Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 30 Transparency and Good Governance Think Tanks','Top Transparency and Good Governance Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 50 International Economic Policy Think Tanks','Top International Economics Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 50 Science and Technology Think Tanks','Top Science and Technology Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 50 Social Policy Think Tanks','Top Social Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 70 Environment Think Tanks','Top Environment Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 70 Security and International Affairs Think Tanks','Top Security and International Affairs Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 80 Domestic Economic Policy Think Tanks','Top Domestic Economic Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top 80 International Development Think Tanks','Top International Development Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top Defense and National Security','Top Defense and National Security Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top Environment Think Tanks','Top Environment Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top Fifty Security and International Affairs Think Tanks','Top Security and International Affairs Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top International Development Think Tanks','Top International Development Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top International Economic Policy Think Tanks','Top International Economics Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top International Economics Think Tanks','Top International Economics Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top Science and Technology Think Tanks','Top Science and Technology Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top Thirty Domestic Economic Policy Think Tanks','Top Domestic Economic Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top Thirty Environment Think Tanks','Top Environment Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top Thirty Health Policy Think Tanks','Top Health Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top Thirty International Development Think Tanks','Top International Development Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top Thirty International Economic Policy Think Tanks','Top International Economics Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top Thirty Science and Technology Think Tanks','Top Science and Technology Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top Thirty Social Policy Think Tanks','Top Social Policy Think Tanks')
df_research['Category']=df_research['Category'].str.replace('Top Thirty Transparency and Good Governance Think Tanks','Top Transparency and Good Governance Think Tanks')

In [17]:
writer = pd.ExcelWriter('Neue_Kategorien_research.xlsx', engine='xlsxwriter')
df_research.to_excel(writer,sheet_name='research')
writer.save()

## Regions

In [18]:
df_regions['Category']=df_regions['Category'].str.replace('Top 10 Think Tanks â€“ United States','Top Think Tanks in the United States')
df_regions['Category']=df_regions['Category'].str.replace('Top 100 Think Tanks â€“ Worldwide (Non-US)', 'Top Think Tanks worldwide (non-US)')
df_regions['Category']=df_regions['Category'].str.replace('Top 150 Think Tanks â€“ Worldwide (US and Non-US)', 'Top Think Tanks Worldwide (US and non-US)')
df_regions['Category']=df_regions['Category'].str.replace('Top 30 Think Tanks United States','Top Think Tanks in the United States')
df_regions['Category']=df_regions['Category'].str.replace('Top 25 Central and Eastern European Think Tanks', 'Top Think Tanks in Central and Eastern Europe')
df_regions['Category']=df_regions['Category'].str.replace('Top 25 Think Tanks in Middle East and North Africa','Top Think Tanks in Middle East and North Africa(MENA)')
df_regions['Category']=df_regions['Category'].str.replace('Top 25 Think Tanks in Western Europe', 'Top Think Tanks in Western Europe')
df_regions['Category']=df_regions['Category'].str.replace('Top 25 Think Tanks â€“ Worldwide (US and Non-US)','Top Think Tanks Worldwide (US and non-US)')
df_regions['Category']=df_regions['Category'].str.replace('Top 30 Central and Eastern European Think Tanks', 'Top Think Tanks in Central and Eastern Europe')
df_regions['Category']=df_regions['Category'].str.replace('Top 30 Think Tanks in Mexico and Canada', 'Top Think Tanks in Mexico and Canada')
df_regions['Category']=df_regions['Category'].str.replace('Top 40 Think Tanks in Asia', 'Top Think Tanks in Asia')
df_regions['Category']=df_regions['Category'].str.replace('Top 25 Think Tanks in Asia', 'Top Think Tanks in Asia')
df_regions['Category']=df_regions['Category'].str.replace('Top 40 Think Tanks in Western Europe', 'Top Think Tanks in Western Europe')
df_regions['Category']=df_regions['Category'].str.replace('Top 45 Think Tanks in China, India, Japan, and the Republic of Korea', 'Top Think Tanks in China, India, Japan, and the Republic of Korea')
df_regions['Category']=df_regions['Category'].str.replace('Top 45 Think Tanks in Middle East and North Africa (MENA)','Top Think Tanks in Middle East and North Africa(MENA)')
df_regions['Category']=df_regions['Category'].str.replace('Top 50 Think Tanks â€“ United States','Top Think Tanks in the United States')
df_regions['Category']=df_regions['Category'].str.replace('Top 50 Think Tanks â€“ Worldwide (Non-US)', 'Top Think Tanks worldwide (non-US)')
df_regions['Category']=df_regions['Category'].str.replace('Top 50 Think Tanks--United States','Top Think Tanks in the United States') 
df_regions['Category']=df_regions['Category'].str.replace('Top 55 Think Tanks in the United States','Top Think Tanks in the United States')
df_regions['Category']=df_regions['Category'].str.replace('Top 60 Think Tanks in Central and Eastern Europe', 'Top Think Tanks in Central and Eastern Europe')
df_regions['Category']=df_regions['Category'].str.replace('Top 75 Think Tanks in Western Europe','Top Think Tanks in Western Europe')
df_regions['Category']=df_regions['Category'].str.replace('Top Fifty Think Tanks in Western Europe','Top Think Tanks in Western Europe')
df_regions['Category']=df_regions['Category'].str.replace('Top Fifty Think Tanks in the United States','Top Think Tanks in the United States')
df_regions['Category']=df_regions['Category'].str.replace('Top Fifty Think Tanks â€“ Worldwide (Non-US)','Top Think Tanks worldwide (non-US)')
df_regions['Category']=df_regions['Category'].str.replace('Top Think Tanks Worldwide (Non-US)','Top Think Tanks worldwide (non-US)')
df_regions['Category']=df_regions['Category'].str.replace('Top Think Tanks Worldwide (US and non- US)','Top Think Tanks Worldwide (US and non-US)')
df_regions['Category']=df_regions['Category'].str.replace('Top Think Tanks Worldwide (non-US)','Top Think Tanks worldwide (non-US)')
df_regions['Category']=df_regions['Category'].str.replace('Top Think Tanks in China, India, Japan,and the Republic of Korea', 'Top Think Tanks in China, India, Japan, and the Republic of Korea')
df_regions['Category']=df_regions['Category'].str.replace('Top Think Tanks in United States','Top Think Tanks in the United States')
df_regions['Category']=df_regions['Category'].str.replace('Top Think Tanks in the Middle East and North Africa (MENA)','Top Think Tanks in Middle East and North Africa(MENA)')
df_regions['Category']=df_regions['Category'].str.replace('Top Thirty Think Tanks in Asia','Top Think Tanks in Asia')
df_regions['Category']=df_regions['Category'].str.replace('Top Thirty Think Tanks in Central and Eastern Europe','Top Think Tanks in Central and Eastern Europe')
df_regions['Category']=df_regions['Category'].str.replace('Top Thirty Think Tanks in Sub-Saharan Africa','Top Think Tanks in Sub-Saharan Africa')
df_regions['Category']=df_regions['Category'].str.replace('Top Thirty Think Tanks in the Middle East and North Africa (MENA)','Top Think Tanks in Middle East and North Africa(MENA)')
df_regions['Category']=df_regions['Category'].str.replace('Top Thirty Think Tanks â€“ Worldwide (US and Non-US)', 'Top Think Tanks Worldwide (US and non-US)')

In [19]:
df_regions.head()

,Rank,Think Tank,Category,Year,Country
0,1,brookings institution (united states),Top Think Tanks in the United States,2008,United States
1,2,council on foreign relations,Top Think Tanks in the United States,2008,United States
2,3,carnegie endowment for international peace,Top Think Tanks in the United States,2008,United States
3,4,rand corporation,Top Think Tanks in the United States,2008,United States
4,5,heritage foundation,Top Think Tanks in the United States,2008,United States

In [20]:
writer = pd.ExcelWriter('Regions.xlsx', engine='xlsxwriter')
df_regions.to_excel(writer,sheet_name='regions')
writer.save()

## Special Categories

In [ ]:
df_special['Category']= df_special['Category'].str.replace(',Best Think Tanks with Political Party Affiliation','Best Think Tanks with a Political Party Affiliation')
df_special['Category']=df_special['Category'].str.replace('Best Advocay Campaign','Best Advocacy Campaign')
df_special['Category']=df_special['Category'].str.replace('Best External Relations/Public Engagement Program','Think Tanks with the Best External Relations/Public Engagement Program')
df_special['Category']=df_special['Category'].str.replace('Best For Profit Think Tanks','Best for Profit Think Tanks')
df_special['Category']=df_special['Category'].str.replace('Best Institutional Collaboration Involving Two or More Think','Best Institutional Collaboration Involving Two or More Think Tanks')
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace
df_special['Category']=df_special['Category'].str.replace