## Short notebook: combining dataframes on categories

In [28]:
#import libraries
import pandas as pd
import re
import xlsxwriter

In [29]:
#set file-paths
file_path_categories = '../data_base/Categories_over_time.xlsx'

file_path_thinktanks = '../data_base/CLEAN_THINKTANKS.xlsx'

In [30]:
#import category-datasets
regions_category_df = pd.read_excel(file_path_categories,sheet_name='regions')
research_category_df = pd.read_excel(file_path_categories,sheet_name='research_areas_clean')
special_category_df = pd.read_excel(file_path_categories,sheet_name='special_categories_clean')

In [32]:
#import think-tank datasets
regions_tt_df = pd.read_excel(file_path_thinktanks,sheet_name='regions')
research_tt_df = pd.read_excel(file_path_thinktanks,sheet_name='research_areas')
special_tt_df = pd.read_excel(file_path_thinktanks,sheet_name='special_categories')

In [33]:
special_tt_df.

,Unnamed: 0,Rank,Think tank,clean_think_tank_name,Category,Year,country,thinktanks_clean,parenthesis
0,0,1,cato institute usa,cato institute (usa),Think Tanks with the Most Innovative Policy/Id...,2008,United States,cato institute,['(usa)']
1,1,2,brookings institute usa,brookings institute usa,Think Tanks with the Most Innovative Policy/Id...,2008,United States,brookings institute usa,[]
2,2,3,carnegie endowment for international peace usa,"carnegie endowment for international peace, us",Think Tanks with the Most Innovative Policy/Id...,2008,United States,"carnegie endowment for international peace, us",[]
3,3,1,european council on foreign relations belgium,european council on foreign relations belgium,Best New Think Tank (established in the last t...,2008,Belgium,european council on foreign relations belgium,[]
4,4,2,bruegel belgium,bruegel (belgium),Best New Think Tank (established in the last t...,2008,Belgium,bruegel,['(belgium)']

In [34]:
#merge datasets
cleand_regions_tt = pd.merge(regions_tt_df,regions_category_df[['Category','Category2']],on='Category')

cleand_research_tt = pd.merge(research_tt_df,research_category_df[['Category','Category2']],on='Category')

cleand_special_tt = pd.merge(special_tt_df,special_category_df[['Category','Category2']],on='Category')

In [43]:
cleand_regions_tt = cleand_regions_tt[['Rank', 'Think Tank', 
       'Year', 'Country', 'thinktanks_clean', 'parenthesis',
       'Category2']]

cleand_research_tt = cleand_research_tt[['Rank', 'Think Tank', 
       'Year', 'country', 'thinktanks_clean', 'parenthesis',
       'Category2']]

cleand_special_tt = cleand_special_tt[['Rank', 'Think tank', 
       'Year', 'country', 'thinktanks_clean', 'parenthesis',
       'Category2']]

In [44]:
cleand_special_tt.head()

,Rank,Think tank,Year,country,thinktanks_clean,parenthesis,Category2
0,1,european council on foreign relations belgium,2008,Belgium,european council on foreign relations belgium,[],Best New Think Tank (established in the last t...
1,2,bruegel belgium,2008,Belgium,bruegel,['(belgium)'],Best New Think Tank (established in the last t...
2,3,center for american progress usa,2008,United States,"center for american progress, us",[],Best New Think Tank (established in the last t...
3,1,"european council on foreign relations, belgium",2009,Belgium,european council on foreign relations belgium,[],Best New Think Tank (established in the last t...
4,2,"center for american progress, us",2009,United States,"center for american progress, us",[],Best New Think Tank (established in the last t...

In [9]:
#rename cateories:
cleand_regions_tt.rename(columns={'Category2':'cleaned_category'},inplace=True)

cleand_research_tt.rename(columns={'Category2':'cleaned_category'},inplace=True)

cleand_special_tt.rename(columns={'Category2':'cleaned_category'},inplace=True)

In [10]:
#check for empty new categories

#cleand_regions_tt[cleand_regions_tt['cleaned_category'].isnull()]
#cleand_research_tt[cleand_research_tt['cleaned_category'].isnull()]
cleand_special_tt[cleand_special_tt['cleaned_category'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Category, Year, nr_of_years, from, till, cleaned_category]
Index: []

In [11]:
cleand_special_tt.head()

,Unnamed: 0,Category,Year,nr_of_years,from,till,cleaned_category
0,2,Best Advocay Campaign,[2018],1,2018,2018,Best Advocay Campaign
1,6,Best Government Affiliated Think Tanks,"[2010, 2011, 2012, 2013, 2014, 2015, 2016, 201...",9,2010,2018,Best Government Affiliated Think Tanks
2,7,Best Independent Think Tanks,"[2016, 2017, 2018]",3,2016,2018,Best Independent Think Tanks
3,8,Best Independent Think Tanks(Category not in r...,[2015],1,2015,2015,Best Independent Think Tanks(Category not in r...
4,11,Best Managed Think Tanks,"[2013, 2014, 2015, 2016, 2017, 2018]",6,2013,2018,Best Managed Think Tanks

In [28]:
writer = pd.ExcelWriter('../results/tts_conslidated_categories.xlsx', engine='xlsxwriter')
cleand_regions_tt.to_excel(writer,sheet_name='regions',index=False)
cleand_special_tt.to_excel(writer,sheet_name='special',index=False)
cleand_research_tt.to_excel(writer,sheet_name='research_areas',index=False)
writer.save()