## Short notebook: combining dataframes on categories

In [20]:
#import libraries
import pandas as pd
import re
import xlsxwriter

In [21]:
#set file-paths
file_path_categories = '../data_base/Categories_over_time.xlsx'

file_path_thinktanks = '../data_base/GGTTIR.xlsx'

In [7]:
#import category-datasets
regions_category_df = pd.read_excel(file_path_categories,sheet_name='regions')
research_category_df = pd.read_excel(file_path_categories,sheet_name='research_areas_clean')
special_category_df = pd.read_excel(file_path_categories,sheet_name='special_categories_clean')

In [22]:
#import think-tank datasets
regions_tt_df = pd.read_excel(file_path_thinktanks,sheet_name='regions')
research_tt_df = pd.read_excel(file_path_thinktanks,sheet_name='research_areas')
special_tt_df = pd.read_excel(file_path_thinktanks,sheet_name='special_categories')

In [17]:
#merge datasets
cleand_regions_tt = pd.merge(regions_tt_df,regions_category_df[['Category','Category2']],on='Category')

cleand_research_tt = pd.merge(research_tt_df,research_category_df[['Category','Category2']],on='Category')

cleand_special_tt = pd.merge(special_tt_df,special_category_df[['Category','Category2']],on='Category')

Empty DataFrame
Columns: [Rank, Think Tank, Category, Year, country, Category2]
Index: []

In [23]:
#rename cateories:
cleand_regions_tt.rename(columns={'Category2':'cleaned_category'},inplace=True)

cleand_research_tt.rename(columns={'Category2':'cleaned_category'},inplace=True)

cleand_special_tt.rename(columns={'Category2':'cleaned_category'},inplace=True)

In [25]:
#check for empty new categories

#cleand_regions_tt[cleand_regions_tt['cleaned_category'].isnull()]
#cleand_research_tt[cleand_research_tt['cleaned_category'].isnull()]
cleand_special_tt[cleand_special_tt['cleaned_category'].isnull()]

Empty DataFrame
Columns: [Rank, Think tank, Category, Year, country, cleaned_category]
Index: []

In [26]:
cleand_special_tt.head()

,Rank,Think tank,Category,Year,country,cleaned_category
0,1,european council on foreign relations belgium,Best New Think Tank (established in the last t...,2008,Belgium,Best New Think Tank (established in the last t...
1,2,bruegel belgium,Best New Think Tank (established in the last t...,2008,Belgium,Best New Think Tank (established in the last t...
2,3,center for american progress usa,Best New Think Tank (established in the last t...,2008,United States,Best New Think Tank (established in the last t...
3,1,"european council on foreign relations, belgium",Best New Think Tank (established in the last t...,2009,Belgium,Best New Think Tank (established in the last t...
4,2,"center for american progress, us",Best New Think Tank (established in the last t...,2009,United States,Best New Think Tank (established in the last t...

In [28]:
writer = pd.ExcelWriter('../results/tts_conslidated_categories.xlsx', engine='xlsxwriter')
cleand_regions_tt.to_excel(writer,sheet_name='regions',index=False)
cleand_special_tt.to_excel(writer,sheet_name='special',index=False)
cleand_research_tt.to_excel(writer,sheet_name='research_areas',index=False)
writer.save()