## new GGTTIR analsis script 26 september 2019

### import libraries

In [101]:
import pandas as pd
import re
import xlsxwriter

In [53]:
#functions:
#excluding parenthesis
def drop_parenthesis(thinktank):
    parenthesis = re.findall('\(.*?\)',thinktank)
    for p in parenthesis:
        thinktank = thinktank.replace(p,'')
        thinktank = thinktank.strip()
    return thinktank, parenthesis

#count years
def count_years(year_list):
    return len(year_list)

In [91]:
def convert_list(year_list):
    clean_list = []
    for year in year_list:
        year = int(year)
        clean_list.append(year)
    return clean_list

def dropdupl(year_list):
    return list(dict.fromkeys(year_list))

In [55]:
def timespan(year_list):
    start = int(year_list[0])
    
    end = int(year_list[-1])
    return start,end

#### import files:

In [56]:
file_path = '../mcgann_ggttir_aktuell.xlsx'

In [57]:
df_regions = pd.read_excel(file_path,sheet_name='regions')
df_special_category = pd.read_excel(file_path,sheet_name='special_category')
df_reserch_area = pd.read_excel(file_path,sheet_name='research_area')

In [59]:
df_regions.head()

,Rank,Think Tank,clean_think_tank_name,Category,Year,Country,thinktanks_clean,parenthesis
0,1,brookings institution (united states),brookings institution (united states),Top 30 Think Tanks United States,2008,United States,brookings institution,[(united states)]
1,2,council on foreign relations,council on foreign relations,Top 30 Think Tanks United States,2008,United States,council on foreign relations,[]
2,3,carnegie endowment for international peace,carnegie endowment for international peace,Top 30 Think Tanks United States,2008,United States,carnegie endowment for international peace,[]
3,4,rand corporation,rand corporation,Top 30 Think Tanks United States,2008,United States,rand corporation,[]
4,5,heritage foundation,heritage foundation,Top 30 Think Tanks United States,2008,United States,heritage foundation,[]

In [58]:
#extract parenthesis from region df:
df_regions['thinktanks_clean'],  df_regions['parenthesis']= zip(*df_regions['clean_think_tank_name'].apply(drop_parenthesis))

#extract parenthesis from region df:
df_special_category['thinktanks_clean'],  df_special_category['parenthesis']= zip(*df_special_category['clean_think_tank_name'].apply(drop_parenthesis))

#extract parenthesis from region df:
df_reserch_area['thinktanks_clean'],  df_reserch_area['parenthesis']= zip(*df_reserch_area['clean_think_tank_name'].apply(drop_parenthesis))

In [80]:
df_sc_cats = df_special_category.groupby('Category')['Year'].apply(list).reset_index()
df_regions_cats = df_regions.groupby('Category')['Year'].apply(list).reset_index()
df_reserch_area_cats = df_reserch_area.groupby('Category')['Year'].apply(list).reset_index()

In [94]:
##Special Categories:

#clean year-list:
df_sc_cats['Year'] = df_sc_cats['Year'].apply(convert_list)

#drop duplicates
df_sc_cats['Year'] = df_sc_cats['Year'].apply(dropdupl)

#get number of years:
df_sc_cats['nr_of_years'] = df_sc_cats['Year'].apply(count_years)

#get the timespan
df_sc_cats['from'],  df_sc_cats['till'] = zip(*df_sc_cats['Year'].apply(timespan))

In [100]:
df_sc_cats.head(1)

,Category,Year,nr_of_years,from,till
0,",Best Think Tanks with Political Party Affilia...",[2012],1,2012,2012

In [95]:
##Regions
#get number of years:
df_regions_cats['nr_of_years'] = df_regions_cats['Year'].apply(count_years)

#drop duplicates
df_regions_cats['Year'] = df_regions_cats['Year'].apply(dropdupl)

#clean year-list:
df_regions_cats['Year'] = df_regions_cats['Year'].apply(convert_list)

#get the timespan
df_regions_cats['from'],  df_regions_cats['till'] = zip(*df_regions_cats['Year'].apply(timespan))

In [ ]:
df_regions_cats.head(1)

In [96]:
## Research Areas:
#get number of years:
df_reserch_area_cats['nr_of_years'] = df_reserch_area_cats['Year'].apply(count_years)

#drop duplicates
df_reserch_area_cats['Year'] = df_reserch_area_cats['Year'].apply(dropdupl)

#clean year-list:
df_reserch_area_cats['Year'] = df_reserch_area_cats['Year'].apply(convert_list)

#get the timespan
df_reserch_area_cats['from'],  df_reserch_area_cats['till'] = zip(*df_reserch_area_cats['Year'].apply(timespan))

In [99]:
df_reserch_area_cats.head(1)

,Category,Year,nr_of_years,from,till
0,List of Food Security Think Tanks (Alphabetica...,[2018],133,2018,2018

## 2. Data Analysis

## 2.1 Categories over time:

In [84]:
df_reserch_area_cats

,Category,Year,nr_of_years,from,till
0,List of Food Security Think Tanks (Alphabetica...,"[2018, 2018, 2018, 2018, 2018, 2018, 2018, 201...",133,2018,2018
1,List of Water Security Think Tanks (Alphabetic...,"[2018, 2018, 2018, 2018, 2018, 2018, 2018, 201...",77,2018,2018
2,Top Education Policy Think Tanks,"[2013, 2013, 2013, 2013, 2013, 2013, 2013, 201...",50,2013,2013
3,Top 10 Domestic Economic Policy Think Tanks,"[2008, 2008, 2008, 2008, 2008, 2008, 2008, 200...",20,2008,2009
4,Top 10 Environment Think Tanks,"[2008, 2008, 2008, 2008, 2008, 2008, 2008, 200...",11,2008,2008
5,Top 10 Health Policy Think Tanks,"[2008, 2008, 2008, 2008, 2008, 2008, 2008, 200...",21,2008,2009
6,Top 10 International Development,"[2008, 2008, 2008, 2008, 2008, 2008, 2008, 200...",12,2008,2008
7,Top 10 International Development Think Tanks,"[2009, 2009, 2009, 2009, 2009, 2009, 2009, 200...",10,2009,2009
8,Top 10 International Economic Policy Think Tanks,"[2008, 2008, 2008, 2008, 2008, 2008, 2008, 200...",11,2008,2008
9,Top 10 Science and Technology Think Tanks,"[2009, 2009, 2009, 2009, 2009, 2009, 2009, 200...",10,2009,2009
10,Top 10 Security and International Affairs Thin...,"[2008, 2008, 2008, 2008, 2008, 2008, 2008, 200...",20,2008,2009
11,Top 10 Social Policy Think Tanks,"[2008, 2008, 2008, 2008, 2008, 2008, 2008, 200...",21,2008,2009
12,Top 11 Environment Think Tanks,"[2009, 2009, 2009, 2009, 2009, 2009, 2009, 200...",11,2009,2009
13,Top 12 International Economic Policy Think Tanks,"[2009, 2009, 2009, 2009, 2009, 2009, 2009, 200...",10,2009,2009
14,Top 15 Health Policy Think Tanks,"[2010, 2010, 2010, 2010, 2010, 2010, 2010, 201...",15,2010,2010
15,Top 20 Energy and Resource Policy Think Tanks,"[2012, 2012, 2012, 2012, 2012, 2012, 2012, 201...",20,2012,2012
16,Top 20 Transparency and Good Governance Think ...,"[2010, 2010, 2010, 2010, 2010, 2010, 2010, 201...",20,2010,2010
17,Top 25 Domestic Economic Policy Think Tanks,"[2010, 2010, 2010, 2010, 2010, 2010, 2010, 201...",25,2010,2010
18,Top 25 Environment Think Tanks,"[2010, 2010, 2010, 2010, 2010, 2010, 2010, 201...",25,2010,2010
19,Top 25 International Development Think Tank,"[2010, 2010, 2010, 2010, 2010, 2010, 2010, 201...",25,2010,2010
20,Top 25 International Economic Policy Think Tanks,"[2010, 2010, 2010, 2010, 2010, 2010, 2010, 201...",25,2010,2010
21,Top 25 Science and Technology Think Tanks,"[2010, 2010, 2010, 2010, 2010, 2010, 2010, 201...",24,2010,2010
22,Top 25 Security and International Affairs Thin...,"[2010, 2010, 2010, 2010, 2010, 2010, 2010, 201...",25,2010,2010
23,Top 25 Social Policy Think Tanks,"[2010, 2010, 2010, 2010, 2010, 2010, 2010, 201...",25,2010,2010
24,Top 30 Health Policy Think Tanks,"[2012, 2012, 2012, 2012, 2012, 2012, 2012, 201...",29,2012,2012
25,Top 30 Transparency and Good Governance Think ...,"[2012, 2012, 2012, 2012, 2012, 2012, 2012, 201...",30,2012,2012
26,Top 50 International Economic Policy Think Tanks,"[2012, 2012, 2012, 2012, 2012, 2012, 2012, 201...",49,2012,2012
27,Top 50 Science and Technology Think Tanks,"[2012, 2012, 2012, 2012, 2012, 2012, 2012, 201...",50,2012,2012
28,Top 50 Social Policy Think Tanks,"[2012, 2012, 2012, 2012, 2012, 2012, 2012, 201...",50,2012,2012
29,Top 70 Environment Think Tanks,"[2012, 2012, 2012, 2012, 2012, 2012, 2012, 201...",69,2012,2012
...,...,...,...,...,...
34,Top Defense and National Security Think Tanks,"[2013, 2013, 2013, 2013, 2013, 2013, 2013, 201...",150,2013,2014
35,Top Domestic Economic Policy Think Tanks,"[2013, 2013, 2013, 2013, 2013, 2013, 2013, 201...",714,2013,2018
36,Top Domestic Health Affairs Think Tanks,"[2018, 2018, 2018, 2018, 2018, 2018, 2018, 201...",61,2018,2018
37,Top Domestic Health Policy Think Tanks,"[2014, 2014, 2014, 2014, 2014, 2014, 2014, 201...",195,2014,2017
38,Top Education Policy Think Tanks,"[2014, 2014, 2014, 2014, 2014, 2014, 2014, 201...",311,2014,2018
39,Top Education Policy Think Tanks (Unranked and...,"[2012, 2012, 2012, 2012, 2012, 2012, 2012, 201...",51,2012,2012
40,Top Energy and Resource Policy Think Tanks,"[2013, 2013, 2013, 2013, 2013, 2013, 2013, 201...",275,2013,2018
41,Top Environment Policy Think Tanks,"[2015, 2015, 2015, 2015, 2015, 2015, 2015, 201...",385,2015,2018
42,Top Environment Think Tanks,"[2013, 2013, 2013, 2013, 2013, 2013, 2013, 201...",135,2013,2014
43,Top Fifty Security and International Affairs T...,"[2011, 2011, 2011, 2011, 2011, 2011, 2011, 201...",50,2011,2011
44,Top Foreign Policy and International Affairs T...,"[2013, 2013, 2013, 2013, 2013, 2013, 2013, 201...",706,2013,2018
45,Top Global Health Policy Think Tanks,"[2014, 2014, 2014, 2014, 2014, 2014, 2014, 201...",163,2014,2018
46,Top Health Policy Think Tanks,"[2013, 2013, 2013, 2013, 2013, 2013, 2013, 201...",30,2013,2013
47,Top International Development Policy Think Tanks,"[2018, 2018, 2018, 2018, 2018, 2018, 2018, 201...",132,2018,2018
48,Top International Development Think Tanks,"[2013, 2013, 2013, 2013, 2013, 2013, 2013, 201...",550,2013,2017
49,Top International Economic Policy Think Tanks,"[2013, 2013, 2013, 2013, 2013, 2013, 2013, 201...",100,2013,2014
50,Top International Economics Policy Think Tanks,"[2018, 2018, 2018, 2018, 2018, 2018, 2018, 201...",87,2018,2018
51,Top International Economics Think Tanks,"[2015, 2015, 2015, 2015, 2015, 2015, 2015, 201...",249,2015,2017
52,Top Science and Technology Policy Think Tanks,"[2018, 2018, 2018, 2018, 2018, 2018, 2018, 201...",72,2018,2018
53,Top Science and Technology Think Tanks,"[2013, 2013, 2013, 2013, 2013, 2013, 2013, 201...",302,2013,2017
54,Top Social Policy Think Tanks,"[2013, 2013, 2013, 2013, 2013, 2013, 2013, 201...",510,2013,2018
55,Top Thirty Domestic Economic Policy Think Tanks,"[2011, 2011, 2011, 2011, 2011, 2011, 2011, 201...",30,2011,2011
56,Top Thirty Environment Think Tanks,"[2011, 2011, 2011, 2011, 2011, 2011, 2011, 201...",59,2011,2011
57,Top Thirty Health Policy Think Tanks,[2011],1,2011,2011
58,Top Thirty International Development Think Tanks,"[2011, 2011, 2011, 2011, 2011, 2011, 2011, 201...",30,2011,2011
59,Top Thirty International Economic Policy Think...,"[2011, 2011, 2011, 2011, 2011, 2011, 2011, 201...",30,2011,2011
60,Top Thirty Science and Technology Think Tanks,"[2011, 2011, 2011, 2011, 2011, 2011, 2011, 201...",30,2011,2011
61,Top Thirty Social Policy Think Tanks,"[2011, 2011, 2011, 2011, 2011, 2011, 2011, 201...",30,2011,2011
62,Top Thirty Transparency and Good Governance Th...,"[2011, 2011, 2011, 2011, 2011, 2011, 2011, 201...",30,2011,2011
63,Top Transparency and Good Governance Think Tanks,"[2013, 2013, 2013, 2013, 2013, 2013, 2013, 201...",327,2013,2018

In [65]:
df_sc_categories.sort_values(by='nr_of_years',ascending=False).head()

KeyError: 'nr_of_years'

In [45]:
convert_list

,Category,Year,nr_of_years,from-till,from,till
6,Best Government Affiliated Think Tanks,"[2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015....",9,"(2010, 2018)",2010,2018
71,Think Tanks with the Most Innovative Policy Id...,"[2011.0, 2012.0, 2013.0, 2014.0, 2015.0, 2016....",8,"(2011, 2018)",2011,2018
73,Think Tanks with the Most Significant Impact o...,"[2012.0, 2013.0, 2014.0, 2015.0, 2016.0, 2017....",7,"(2012, 2018)",2012,2018
11,Best Managed Think Tanks,"[2013.0, 2014.0, 2015.0, 2016.0, 2017.0, 2018.0]",6,"(2013, 2018)",2013,2018
62,Think Tanks with the Best External Relations/P...,"[2012.0, 2013.0, 2014.0, 2015.0, 2016.0, 2018.0]",6,"(2012, 2018)",2012,2018

In [48]:
print('Special Categories entails {} individual categories which have been used between 2010 and 2018'.format(len(df_sc_categories)))

Special Categories entails 79 individual categories which have been used between 2010 and 2018

In [102]:
writer = pd.ExcelWriter('../results/categories_over_time.xlsx', engine='xlsxwriter')
df_regions_cats.to_excel(writer,sheet_name='regions')
df_reserch_area_cats.to_excel(writer,sheet_name='research_areas')
df_sc_cats.to_excel(writer,sheet_name='special_categories')

writer.save()

In [49]:
df_unique_categories = df_special_category.groupby(['Year'])['Category'].unique()
df_unique_categories = df_unique_categories.to_frame().reset_index()

In [128]:
df_unique_categories['nr_categories'] = df_unique_categories['Category']

      Year                                           Category
0   2008.0  [Think Tanks with the Most Innovative Policy/I...
1   2009.0  [Think Tanks with the Most Innovative Policy/I...
2   2010.0  [Think Tanks with the Most Innovative Policy/I...
3   2011.0  [Think Tanks with the Most Innovative Policy I...
4   2012.0  [Think Tanks with the Most Innovative Policy I...
5   2013.0  [Best Advocacy Campaign, Best For Profit Think...
6   2014.0  [Best Advocacy Campaign, Best For Profit Think...
7   2015.0  [Best Advocacy Campaign, Best For Profit Think...
8   2016.0  [Best Advocacy Campaign, Best For Profit Think...
9   2017.0  [Best Advocacy Campaign, Best For Profit Think...
10  2018.0  [Best Advocay Campaign, Best for Profit Think ...